POSTGRES_DB=HealthMate_DB
POSTGRES_USER=healthmate_user
POSTGRES_PASSWORD=healthmate_user
POSTGRES_PORT=55432
BACKEND_PORT=8080
HEALTHMATE_DATASET_ROOT=dataset/healthmate_2018-2023/data

DB_URL=jdbc:postgresql://postgres:5432/HealthMate_DB
DB_USERNAME=healthmate_user
DB_PASSWORD=healthmate_user
SERVER_PORT=8080
FRONTEND_URL=http://localhost:5173

JWT_SECRET=change_me_jwt_secret_min_32_chars
JWT_EXPIRATION_MS=86400000
AES_SECRET_KEY=change_me_aes_secret_min_32_chars
PYTHON_SERVICE_URL=http://localhost:8001
PYTHON_INTERNAL_API_KEY=change_me_internal_api_key
