# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
dataset/backup.snapshot

# OS
.DS_Store
Thumbs.db

# Java / Maven / Gradle
/target/
/build/
/**/target/**
**/build/**
*.class
*.jar
*.war
*.ear
/2_task
/2_task.zip

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
venv/
ENV/
env/
.venv/

# Env
*.env
.env
.env.local
!.env.example

# Node
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Logs / temp
logs/
*.log
tmp/
temp/

# Databases
*.db
*.sqlite
*.sqlite3

# Database dumps and init scripts
*.dump
healthmate_local.dump
*.sql
!*.sql  # если хотите всё равно игнорировать все .sql файлы
initdata.sql
tmp_seed_drugs.sql
*_seed*.sql

# Docker local configs
docker-compose.yml
!docker-compose.prod.yml

# Datasets
dataset/
*.csv

# Database dumps and temp SQL
*.dump
healthmate_local.dump
*.sql
initdata.sql
tmp_seed_drugs.sql
*_seed*.sql

# Docker local config
docker-compose.yml

# Datasets
dataset/